body {
  background-color:   #fffcec;
  overflow-x: hidden;
}

#projectTitle {
  color: rgb(68, 56, 82);
}

.textLabel {
  color: rgb(68, 56, 82);
  font-size: 18px;
}

.center {
  display: flex;
  flex-direction: column; 
  justify-content: center;/* stack items vertically */
  align-items: center;    /* center horizontally */
  gap: 10px;              /* optional spacing between elements */


  width: 60%; 
  max-width: 440px; 
  height: 70%;
  max-height: 200px;             /* box width */
  padding: 50px;             /* inside spacing */
  margin: 100px auto;        /* center horizontally + some vertical space */
  background-color: rgb(163,177,138,255);
  border-radius: 15px;       /* soft rounded edges */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* subtle shadow */
  text-align: center;   
  font-size: 40px; 
}

.frenchwords {
  display: flex;
  gap: 40px;
  justify-content: center; 
  align-items: center;
  position: relative;
  top: 60px;
  
}

@media (max-width: 480px) {
  .frenchwords {
    gap: 10px; 
  }
}

#pronouns {

  width: 30%;
  max-width: 170px;             
  padding: 10px;            
  margin: 10px;   
  background-color: rgb(163,177,138,255);
  border-radius: 15px;      
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
  text-align: center;


}

#verbs {

  width: 30%;
  max-width: 170px;              
  padding: 10px;            
  margin: 10px;   
  background-color: rgb(163,177,138,255);
  border-radius: 15px;      
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
  text-align: center;


}

#tense {

  width: 30%;
  max-width: 170px;              
  padding: 10px;            
  margin: 10px;   
  background-color: rgb(163,177,138,255);
  border-radius: 15px;      
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
  text-align: center;


}

.bottomanswers {
  display: flex;
  justify-content: center;
  flex-direction: column; /* stack items vertically */
  align-items: center;    /* center horizontally */
  gap: 10px;  
  position: relative;
  top: -50px;   
  
  
  width: 50%; 
  max-width: 400px;              /* box width */
  padding: 20px;             /* inside spacing */
  margin: 10px auto;        /* center horizontally + some vertical space */
  background-color: rgb(163,177,138,255);
  border-radius: 15px;       /* soft rounded edges */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* subtle shadow */
  text-align: center;    
}

#correctness {

width: 170px;
  padding: 10px;
  background-color: rgba(163,177,138,1);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  margin: 0 auto;

}

#submissionBox {

  background-color: #fffcec;
   border: 2px solid #A3B18A; /* change black border to your color */
  border-radius: 10px;       /* optional rounded corners */
  padding: 10px;

}